:root {
  --titel-text-color: #2e2f42;
  --main-text-color: #434455;
  --logo-blue-color: #4d5ae5;
  --logo-wight-color: #f4f4fd;
  --main-wight-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --nav-hover-caolor: #404bbf;
  --customers-color: #8e8f99;
}
