<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close" type="button" data-modal-close>
      <svg class="close-icon">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <p class="modal-title">Leave your contacts and we will call you back</p>
    <form class="modal-form">
      <div class="name-form">
        <label class="name-label"
          >Name<input class="name-input" type="text" name="name" />
          <svg class="icon-person">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </label>
      </div>

      <div class="phone-input">
        <label class="phone-lable"
          >Phone<input class="modal-phone" type="tel" name="phone" required />
          <svg class="icon-phone">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </label>
      </div>

      <div class="email-input">
        <label class="email-lable"
          >Email<input class="modal-email" type="email" name="email" required />
          <svg class="icon-email">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </label>
      </div>

      <div class="comment-input">
        <label class="comment-label"
          >Comment
          <textarea
            class="comment-text"
            name="comment"
            placeholder="Text input"
          ></textarea>
        </label>
      </div>

      <div class="accept">
        <label class="checkbox-accept-label">
          <input
            class="checkbox-accept"
            type="checkbox"
            name="checkbox-accept"
            required
          />
          <span class="custom-checkbox">
            <svg class="checkbox-icon">
              <use href="./images/icons.svg#icon-check-on"></use>
            </svg>
          </span>
          I accept the terms and conditions of the&nbsp;<a href="#">
            Privacy Policy</a
          >
        </label>
      </div>

      <button class="send-btn" type="submit">Send</button>
    </form>
  </div>
</div>
