<section class="section works">
  <div class="container">
    <h2 class="section-title">What are we doing</h2>
    <ul class="work-list">
      <li class="work-item">
        <img
          src="./images/we-make/computer.jpg"
          alt="website"
          height="300"
          width="360"
        />
      </li>
      <li class="work-item">
        <img
          src="./images/we-make/phone.jpg"
          alt="app"
          height="300"
          width="360"
        />
      </li>
      <li class="work-item">
        <img
          src="./images/we-make/phone-and-computer.jpg"
          alt="desing"
          height="300"
          width="360"
        />
      </li>
    </ul>
  </div>
</section>
